.logo {
  font-size: 2em;
  width: 3em;
  height: 2.5em;
  margin-left: 1.2em;
  margin-left: 0.2em;

}
.sour-gummy-title {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 325;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header{
  display:flex;
  align-items: center;
  color: #e9efef;
  margin-left: 1em;
  font-size: 1.5em;
}
body{
  background-color:#000000 ;
}
.onglets {
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: flex-end; /* Aligner les onglets à droite */
  align-items: center; /* Centrer verticalement */
  gap: 1.25rem; 
  margin-left: auto; 
  margin-right: 2em;

}
.onglets a {
  text-decoration: none; /* Enlever le soulignement */
  color: aliceblue;
  padding: 0.5em; 
  font-weight: bold; 
}
.texte{
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", serif;
  margin-left: 2em;
}
.top{
  color: rgb(240, 240, 240);
  font-family: "Montserrat", serif;
  font-size: 1.5em;
  display:flex;
  margin-top: 2em;
  justify-content: center;
}
.images{
  font-size: 13em;
  width: 3em;
  height: 2.5em;
  margin-left: 0.8em;
  margin-bottom: 0.5em;
  margin-right: 2.5rem;
  margin-top: 0.5em;
}
.destination{
  display: flex;
  justify-content: center;
  align-items: center;

}
.description{
  color: aliceblue;
  display: flex;
  flex-direction: column;
}
footer{
  color: aliceblue;
  display: flex;
  justify-content:center ;
  margin-bottom: 2em;
}
.objectif{
  color: rgb(255, 255, 255);
  font-size: 1em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", serif;
  margin-left: 2em;
}
.accueil:hover,.wall:hover,.forum:hover,.about:hover{
  background-color: rgb(92, 181, 155);
  padding: 0.2em;
}

.project{
  display: block;
  width: 100%;
  text-decoration: none;
  margin: 1em 0;
  cursor: pointer;
  box-shadow :none;
}
figure{
  margin: 0;
  padding: 0;
}
.project figure img{
  width: 100%;
  display: block;
  object-fit: cover;
  height: 300px;
}
.project figcaption{
  padding: 1em;
   background-color: rgb(2, 85, 85);
   color: #e9efef;
}
.project h3{
  color:#e9efef;
  margin-top: 1em; 
  margin-right: 1.2em;
  font-size: 1em;
  display: flex;
}
.cta{
  margin: .3em 0;
}
.cta:after{
  content:'\f061';
  font-family:"Montserrat";
  margin: 0 0 .5em .5em;
}
@media  screen  and (min-width:960px) {
    .wrapper{
      max-width:960px;
      margin: 0  auto;
    }
    .container{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 1em;
    }
    .project{
      width: 100%;
      height: 300px;
      text-decoration: none;
      margin: 0;
    }
    .project figure{
      position: relative;
      overflow: hidden;
    }
    .project figure img{
      position: relative;
      z-index: 999;
      transition:transform 0.4s ;
    }
    .project figure:hover img {
      transform: translateY(-110px); 
      transition: transform 0.3s ease; 
    }
    .project figcaption{
      position: absolute;
      left:0;
      bottom:0;
      padding:20px;
      height:90px ;
      width: 100%;
    }
}
@media screen and (max-width: 960px) {
  .destination {
      flex-direction: column; 
      align-items: center; 
      margin-bottom: 2em; 
  }

  .images {
      width: 80%; 
      height: auto; 
      margin-top: 0.2em; 
      margin-right: 0.7em;
  }

  .description {
      padding: 1em; 
      text-align: center; 
  }
  .texte {
      font-size: 1em; 
      margin-bottom: 1em; 
  }

  .top {
      font-size: 1.2em; 
      margin-bottom: 1em; 
  }
  .onglets{
    display: flex;
    flex-wrap: wrap;
  }
}


