img {
  width: 3em;
  height: 2.5em;
  margin-left: 1.2em;

}

.sour-gummy-title {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 325;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header{
  display:flex;
  align-items: center;
  color: #e9efef;
  margin-left: 1em;
  font-size: 1.5em;
}

body{
  background-color:#000000 ;
}
.onglets{
  font-family: Roboto Slab;
  display: flex;
  justify-content:;
  

}

.texte{
  color: white;
}
